/* General changes */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: hsl(212, 45%, 89%);
}


body {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;

}


#main {
  margin-top: 100px;
}


.main-container {
 margin: auto;
 max-height: 100%;
 max-width: 320px;
 border-radius: 20px;
 padding: 15px;

}


.qr-image {
  border-radius: 10px;
  max-width: 100%;
}



.heading {
  line-height: 25px;
  text-align: center;
  color: hsl(218, 44%, 22%);
  padding: 10px;

}

.sub-heading {
  text-align: center;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  padding: 14px;
}

.main-container, .sub-heading, .heading {
  background-color: hsl(0, 0%, 100%);
}
